h1 {
    color: green;
}

img {
    height: 300px
}

.task {
    background-color: pink;
}

path {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: flex-start;
}